.chat {
  height: calc(100% - 130px);
  padding: 0;
}

.chat.tabs-tab.active {
  width: 100%;
  height: 100%;
}

.tabs-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .page-chats .main-column {
    display: flex!important;
    width: 100%;
    z-index: 1;
  }
}

.tabs-container .tabs-tab {
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 1;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.chats-container {
  height: 100%;
}

.tabs-container .tabs-tab.active {
  display: flex;
}
